body {
  background-color: rgb(242, 255, 216);
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#container {
  display: grid;
  width: 100%;
  grid-template-columns: 0% 20% 60% 20% 0%;
}

.mouse-trail { /* className for the trail elements */
  position: absolute;
  height: 5px; 
  width: 5px;
  border-radius: 3px;
  background: rgb(145, 171, 255);
}

#page-left {
  background-color: rgb(40, 40, 38);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  /*resize:horizontal;*/
  overflow: auto;
  height: 100vh;
  /*flex-shrink: .57*/;
}

#collective-sentence {
  padding: 0px 10px 0px 10px;
  font-size: 28px;
  color:rgb(161, 164, 153);
}

#forming-sentence {
  padding: 0px 10px 0px 10px;
  font-size: 28px;
  color:rgb(219, 255, 126);
}

#page-right {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-end: 2;
  height: 100vh;
  width: 100%;
  position: relative;
  /*display: flex;*/
}


/* .gen-word { */
  /*color: rgb(255, 70, 90);*/
  /* border-color: rgb(255, 140, 100); */
  /* background-color: rgba(191, 255, 190, 0.9); */
/*} */

button {
  cursor: pointer;
}

/*
.gen-word:hover {
  color: rgb(81, 0, 255);
  border-color: rgb(0, 102, 255);
  background-color: rgba(255, 255, 0, 0.435);
}
*/

